<div id='wrapper'>
<%= render 'layouts/header' %>
<p id="notice"><%= notice %></p>

<h1>Coach Assignments by Practice</h1>

<table class='typical enable-data-table'>
  <thead>
    <tr>
      <th>Practice</th>
      <th>Coach</th>
      <th>New Action Item</th>
    </tr>
  </thead>

  <tbody>
    <% @practices.each do |practice| %>
      <tr>
        <td><%= link_to practice.name, edit_coach_practice_path(practice) %></td>
        <td>
          <% if practice.coach %>
            <%= link_to practice.coach.name, list_coach_practice_path(practice.coach) %></td>
          <% end %>
        <td>< %= link_to image_tag("plus-blue.png", size: "20x20", alt: "Add Action Item"), new_coach_practice_event_path(practice), class: 'addButton', title: 'Add Action Item', rel: 'tooltip' % >
      </tr>
    <% end %>
  </tbody>
</table>

</div>