<div id='wrapper'>
<%= render 'layouts/header' %>

<h1>Editing Activity for <%= link_to @practice.name, edit_partner_practice_path(@partner, @practice) %></h1>

<%= render 'form' %>

<%= link_to "Back", :back %>
</div>