<%= render 'layouts/header' %>

<div id='left-2'>
	<h1>Editing <%= @practice.name %></h1>
</div>

<div id='right-2'>
	<h1>Status: <%= @practice.status %></h1><br />
</div>

<div class='clearfix'></div>

<%= render 'form' %>
