<div id='wrapper'>
  <%= render 'layouts/header' %>
  <h2><%= @practice.name %></h2>
  <h3>Topics</h3>
  <p>::really interesting table goes here::</p>
  <h3>HLC</h3>
  <p>::really interesting table goes here::</p>
  <h3>GYR</h3>
  <p>::really interesting table goes here::</p>
</div>
