<%= render 'layouts/header' %>
<div id = "wrapper">
  <h1>Practices eligible for the <%= @survey_type%> Survey </h1>
  <% if @practices.any? %>
    <table class='simple-grid'>
      <thead>
        <tr>
          <th>Site</th>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        <% @practices.each do |p| %>
          <tr>
            <td><%= p.site.name %></td>
            <td><%= p.name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>