// Place all the styles related to the coach_practices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.incomplete-warning {
  color: red ;
  font-weight: bold ;
}

button#coach-practice-comment-opener {
	margin: 10px 20px 20px 40px;
	padding: 5px;
}

