// Place all the styles related to the mains controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

span#recruiter-or-coach-view {
  color: white;
  vertical-align: 175%;
  margin-left: 20%;
}

.ui-tabs {
  position: relative;/* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
  padding: .2em;
}
.ui-tabs .ui-tabs-nav {
  margin: 0;
  padding: .2em .2em 0;
}
.ui-tabs .ui-tabs-nav li {
  list-style: none;
  float: left;
  position: relative;
  top: 0;
  margin: 1px .2em 0 0;
  border-bottom-width: 0;
  padding: 0;
  white-space: nowrap;
}
.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
  float: left;
  padding: .5em 1em;
  text-decoration: none;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active {
  margin-bottom: -1px;
  padding-bottom: 1px;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor,
.ui-tabs .ui-tabs-nav li.ui-state-disabled .ui-tabs-anchor,
.ui-tabs .ui-tabs-nav li.ui-tabs-loading .ui-tabs-anchor {
  cursor: text;
}
.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited{
    color: white;
}

#front-page {
  background-color: #AD122A;
  color: #D1D2D4;
  font-family: arial, verdana, helvetica, sans-serif;
  font-size: 24px;
  line-height: 32px;

  h1 {
  	font-family: arial, verdana, helvetica, sans-serif;
  	font-size: 48px;
  	line-height: 64px;
  	padding: 30px;

  }

  p {
  	font-family: arial, verdana, helvetica, sans-serif;
  	font-size: 24px;
  	line-height: 32px;
  	padding: 30px;
  }

  a {
  	color: #92D7E7;
  }
}
.simple-grid
{
  text-align: left ;
  border-collapse: collapse ;
  border: 1px solid black ;
  abbr {
    text-decoration: underline ;
  }
  td, th {
    padding: 10px ;
    border: 1px solid black ;
  }
  th {
    font-weight: bold ;
  }
}