// Place all the styles related to the PracticeSurveys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$tan: #cfb690;
$blue: rgba(0,99,138,1.00);
$black: #333333;
$base-font-size: 18px;

#survey {
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: $black;

	input[name="return"] {
		color: $blue;
		float: right;
	}

	#survey-header {
		width: 100%;
		margin: 0 auto;
		background-color: $blue;
		overflow: hidden;
		color: $tan;
		padding: 10px 0 10px 0;
		font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
		h1 {
			float: left;
			margin-left: 10px;
			width: 40%;
			font-size: 40px;
			color: $tan;
			font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
		}
		#progressbar-box {
			float: right;
			width: 45%;
			margin-right: 10px;
			.ui-progressbar { background-color: $tan; color: tan; }
		}
	}

	#survey-content {
		width: 80%;
		background-color: white;
		margin: auto;

		p, td, li {
			font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
			font-size: $base-font-size;
			color: $black;
			line-height: 1.5;
			padding-top: 10px;
			padding-bottom: 10px;
		}

		p, td {
			padding-right: 15px;
			padding-left: 15px;}

		ol {
			list-style-type: decimal;
			padding-left: 20px;
			margin-left: 20px;
			li {
				padding-left: 10px;
				padding-right: 10px;
			}
		}

		.survey-instruction {
			margin: 0px;
			padding: 5px 0 5px 0;
			p { font-family: Georgia,Verdana,serif; }
		}
		.survey-question {
			padding: 15px 0 15px 0;
			border-top: 1px $black solid;
			label { margin-right: 5px; }
		}
		.survey-question-title {
			padding-bottom: 5px;
		}
		.survey-question-table {
			margin: 0 5px;
		}
		.actions {
			margin: 0px;
			padding: 5px;
		}
		footer {
			width: 80%;
			margin: 0 auto;
			color: white;
			font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
		}
	}
}