$dark-blue: #00BCD9;
$light-blue: #92D7E7;
$dark-red: #AD122A;
$light-red: #E82C2A;
$orange: #F7911D;
$yellow: #EFBD47;
$gray: #D1D2D4;
$white:  #FFFFFF;

$font-size-base: 13px;
$line-height-base: 18px;

body {
  background-color: white;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

#wrapper {
  margin: 10px;
  padding: 10px;
}

p, ol, ul, td {
  font-family: arial, verdana, helvetica, sans-serif;
  font-size: $font-size-base;
  line-height: $line-height-base;
}

h1, h2, h3, h4, h5, h6 {
  color: $dark-blue;
}

div.boxed {
  border: 1px solid $dark-blue;
  margin-bottom: 15px;
  padding: 15px;
  h1, h2, h3, h4 {
    padding-bottom: 5px;
  }
  table {
    margin-top: 10px;
    caption {
      font-weight: bold;
    }
  }
}

table.typical {
  border: 1px solid black;
  border-collapse: collapse;
  tr:nth-of-type(odd) {
    background-color: $yellow;
  }
  th {
    background-color: $orange;
    font-size: $font-size-base*1.2;
    line-height: $line-height-base*1.2;
  }
  td, th {
    padding: 5px;
  }
}

table.space {
  td, th {
    padding: 5px;
    vertical-align: top;
  }
}

table.lined {
  border: 1px solid black;
  border-collapse: collapse;
  th, td {
    border: 1px dotted black;
  }
}

table.fulltext {
  textarea {
    width: 95%;
    height: 95%;
    margin: auto;
    -webkit-box-sizing: border-box; /* <=iOS4, <= Android  2.3 */
       -moz-box-sizing: border-box; /* FF1+ */
            box-sizing: border-box; /* Chrome, IE8, Opera, Safari 5.1*/
  }
}

table.background-orange {
  background-color: lighten(orange, 35%);
}
table.background-pink {
  background-color: lighten(pink, 10%);
}
table.background-blue {
  background-color: lighten(#00008B, 70%);
}
table.background-lightpurple {
  background-color: lighten(#9370DB, 25%);
}
table.background-darkpurple {
  background-color: lighten(#6A5ACD, 30%);
}
table.background-green {
  background-color: lighten(#6B8E23, 40%);
}
table.background-teal {
  background-color: lighten(teal, 60%);
}
table.background-brown {
  background-color: lighten(#A0522D, 40%);
}

div.box {
  border: 1px black solid;
  padding: 1% 3% 2% 3%;
  background-color: lavender;
  p {
    color: #4479BA;
    font-weight: bold;
    font-size: $font-size-base*1.5;
    line-height: $line-height-base*1.5;
  }
}

div#nav-section {
  width: 15%;
  float: left;
}

nav {
  ul {
    list-style: none;
  }
  li {
    background: #4479BA;
    margin: 10px 0px;
    border-radius: 10px;
  }
  a {
    color: $white;
    padding: 10px 15px;
    text-decoration: none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    display: block;
  }
  a:visited {
    color: $white;
  }
  a:hover, a:focus {
    background: #356094;
    border: solid 1px #2A4E77;
  }
  a:active {
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    background: #2E5481;
    border: solid 1px #203E5F;
  }
  input {
    border: none;
    width: 100%;
    border-radius: 10px;
    font-weight: bold;
    color: $white;
    background: #4479BA;
    padding: 10px 15px;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    display: block;
  }
  input:hover, input:focus {
    background: #356094;
    border: solid 1px #2A4E77;
  }
  input:active {
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    background: #2E5481;
    border: solid 1px #203E5F;
  }
}

div#nav-right {
  float: right;
  width: 80%;
}

h1 {
  font-size: 2em;
  line-height: 200%;
  padding-bottom: 5px;
}
h2 {
  font-size: 1.5em;
  line-height: 150%;
  padding-bottom: 5px;
}
h3 {
  font-size: 1.17em;
  line-height: 117%;
  padding-bottom: 5px;
}
h4 {
  font-size: 1.12em;
  line-height: 112%;
}
h5 {
  font-size: 0.83em;
  line-height: 83%;
}
h6 {
  font-size: 0.67em;
  line-height: 67%;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  margin: 5px;
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

#alert {
  color: red;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

.image-background {
  background: $white;
  width: 95%;
  margin-left: auto;
  margin-right: auto;

  .horiz-center {
    width: 95%;
    margin-left: auto;
    margin-righ: auto;
  }

  img {
    vertical-align: middle;
    padding-right: 10px;
  }
}

header {
  background: $dark-red;
  height: 10%;
  margin-bottom: 15px;
}

footer {
  padding: 10px;
  clear: both;
  width: 100%;
}

#left-13 {
  float: left;
  width: 30%;
}

#right-23 {
  float: right;
  width: 65%;
}

#left-2 {
  float: left;
  width: 47%;
}

#right-2 {
  float: right;
  width: 48%;
}

.float-left {
  float: left;
  margin-right: 20px;
}

.signout {
  float: right;
  margin-left: 20px;
  padding-right: 20px;
  color: $white;
  a {
    color: $white;
  }
}

.clearfix {
  clear: both;
}

.extraTopSpace {
  margin-top: 15px;
}

a.addButton {
  margin-left: 5%;
}

#popupForm {
  position: absolute;
  background-color: $gray;
  border: 1px solid $dark-red;
  display: none;
  left: 50px;
  top: 100px;
  z-index: 1000;
  font-weight: bold;
  padding: 25px 25px 12px;

  h3 { color: $white; }

  #closePopupForm {
    height: 15px;
    width: 15px;
    padding: 1px;
    position: absolute;
    right: 17px;
    top: 17px;
  }
}

.popupForm-large {
  width: 50%;
}

#selectData {
  display: none;
}

.disabled-question {
  label {
    margin-left: 20px;
  }
}

tr.subquestion {
  td label { margin-left: 50px; }
}

input.button-important {
  background-color: green;
}