<div id='survey-header'>
	<h1>Practice Survey</h1>
	<div id='progressbar-box'>
		<div id='progressbar'></div>
		<span id="complete-percentage"><%= @complete_percentage %></span>% complete
	</div>
</div>
<div class='clearfix'></div>