<div id='survey'>
	<div id='survey-content'>
		<span id='progress-value-set' data-progress-value='0'></span>

		<%= render partial: 'layouts/practice_survey_header' %>
		<%= render 'form' %>

	</div>
	<footer>&nbsp;</footer>
</div>